.loading {
  width           : 100vw;
  height          : 100vh;
  z-index         : 9999;
  position        : fixed;
  display         : flex;
  justify-content : center;
  align-items     : center;
  top             : 0;
  left            : 0;
  background-color: rgba(192, 192, 192, 0.5);
}